* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #3db20f;
  --onprimary: #fafafa;
  --bg: #020216;
  --onbg: #fafafa;
  --surface: #090822;
  --onsurface: #e0e0ef;
  --field: #25233a;
  --smooth: all 0.3s ease-in;
  --switch-transform: translateX(0px);
  --body-weight: 300;
  --h4-weight: 600;
}
.light-theme {
  --primary: #3db20f;
  --onprimary: #fafafa;
  --bg: #fafafa;
  --onbg: #020216;
  --surface: #f4f3fa;
  --onsurface: #25233a;
  --field: #d1d1e5;
  --smooth: all 0.3s ease-in;
  --switch-transform: translateX(24px);
  --body-weight: 500;
  --h4-weight: 600;
}
html {
  scroll-behavior: smooth;
  transition: var(--smooth);
}
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  background: var(--bg);
}
/* typeface */
h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.75rem;
  letter-spacing: -0.5px;
}
h2 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 3rem;
}
h3 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: var(--h4-weight);
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}
p {
  font-size: 0.875rem;
  font-weight: var(--body-weight);
  line-height: 1.25rem;
  letter-spacing: 0.25px;
}
/* overlay */
#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
  display: none;
}
#overlay.show {
  display: initial;
}
img {
  max-width: 100%;
  width: 100%;
}
.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
/* button */
.b {
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.5px;
  flex: none;
  color: var(--onprimary);
  background-color: var(--primary);
  border-radius: 8px;
  padding: 0.875rem 1.5rem;
  gap: 8px;
  cursor: pointer;
  border: none;
  width: fit-content;
}
.b--outlined {
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.5px;
  flex: none;
  color: var(--onprimary);
  border: 1px solid var(--onprimary);
  border-radius: 8px;
  padding: 0.875rem 1.5rem;
  background: none;
  gap: 8px;
  cursor: pointer;
  width: fit-content;
}
button:hover {
  transform: scale(0.98);
  transition: var(--smooth);
  filter: brightness(130%);
}
/* header */
header {
  position: absolute;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
/* logo */
.header_logo {
  z-index: 6;
}
.header_logo a {
  display: block;
  width: 3rem;
  height: 3rem;
}
.header_logo img {
  object-fit: cover;
}

/* links */
.navbar_links {
  position: fixed;
  padding: 104px 56px;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: var(--surface);
  z-index: 10;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
  opacity: 1;
}
.navbar_links.navbar_open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}
.link {
  list-style: none;
  margin: 24px 0px;
}
.link a {
  text-decoration: none;
  color: var(--onsurface);
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 40px;
  display: inline-block;
  position: relative;
}
.link a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}
.link a:hover {
  color: var(--primary);
}
.link a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: var(--smooth);
  color: var(--primary);
}
.link_selected {
  list-style: none;
  margin: 24px 0px;
}
.link_selected a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 40px;
  display: inline-block;
  position: relative;
}
.link_selected a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
}
.language {
  margin: 0px 20px;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.25rem;
  text-decoration: none;
  color: var(--onbg);
  z-index: 1;
}

/* theme_switch */
#slider {
  cursor: pointer;
  z-index: 1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--field);
  border: 2px solid var(--onsurface);
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
}
.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  top: 6px;
  left: 6px;
  -webkit-transform: var(--switch-transform);
  -ms-transform: var(--switch-transform);
  transform: var(--switch-transform);
  background-color: var(--onsurface);
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
  z-index: 2;
}
.slider .material-icons {
  font-size: 16px;
}
input:checked + .slider {
  background-color: var(--field);
  border: 2px solid var(--onsurface);
}
input:checked + .slider:before {
  -webkit-transform: var(--switch-transform);
  -ms-transform: var(--switch-transform);
  transform: var(--switch-transform);
  background-color: var(--onsurface);
}
.dark {
  top: 6px;
  position: absolute;
  left: 6px;
  color: #25233a;
  z-index: 1;
}
.light {
  top: 6px;
  position: absolute;
  right: 6px;
  color: #e0e0ef;
  z-index: 1;
}
.slider.round {
  border-radius: 100px;
}
.slider.round:before {
  border-radius: 50%;
}

/* menu_icon */
.navbar_icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: var(--smooth);
}
/* icon2 */
.navbar_icon2 {
  width: 32px;
  height: 4px;
  background-color: var(--onbg);
  transition: var(--smooth);
  position: relative;
  z-index: 11;
}
.navbar_icon2:before,
.navbar_icon2:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 4px;
  background-color: var(--onbg);
  transition: var(--smooth);
}
.navbar_icon2:before {
  transform: translateY(-8px);
}
.navbar_icon2:after {
  transform: translateY(8px);
}

/* icon animation */
.open .navbar_icon2 {
  position: fixed;
  background: transparent;
}
.open .navbar_icon2:before {
  position: fixed;
  transform: rotate(45deg);
  background: var(--onsurface);
}
.open .navbar_icon2:after {
  position: fixed;
  transform: rotate(-45deg);
  background: var(--onsurface);
}
/* banner */

.banner {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}
.illustration {
  position: relative;
  max-width: 620px;
  margin-top: 1rem;
  max-height: 620px;
  width: 90vw;
  height: 90vw;
}
.platform {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
  -webkit-touch-callout: none;
  transition: var(--smooth);
}

.layer {
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-in-out;
}
.layer1 {
  position: absolute;
  z-index: 1;
  width: 62%;
  left: 10%;
  bottom: 29%;
  transition: all 0.1s ease-in-out;
}
.layer2 {
  position: absolute;
  z-index: 2;
  width: 26%;
  right: 12%;
  bottom: 30%;
  transition: all 0.1s ease-in-out;
}
.layer3 {
  position: absolute;
  z-index: 3;
  width: 18%;
  right: 30%;
  bottom: 24%;
}
.illustration:hover .layer1 {
  bottom: 32%;
  transition: var(--smooth);
  transition-delay: 0.4s;
}
.illustration:hover .layer2 {
  bottom: 32%;
  transition: var(--smooth);
  transition-delay: 0.2s;
}
.illustration:hover .layer3 {
  bottom: 26%;
  transition: var(--smooth);
}
.layer4 {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-touch-callout: none;
}
.moon {
  position: absolute;
  opacity: 1;
  width: 14%;
  right: 24%;
  top: 14%;
  z-index: 0;
  transition: all 0.4s ease-in-out;
}
.moon.moon_close {
  opacity: 0;
  transform: scale(0.5);
  right: 26%;
  top: 50%;
  z-index: 0;
  transition: all 0.4s ease-in-out;
}
.sun {
  position: absolute;
  opacity: 0;
  width: 4%;
  left: 6%;
  top: 44%;
  transform: translateY(0);
  z-index: 0;
  transition: all 0.4s ease-in-out;
}
.sun.sun_open {
  opacity: 1;
  left: 12%;
  top: 10%;
  transform: scale(5);
  transition: all 0.4s ease-in-out;
}
.cloud1 {
  position: absolute;
  width: 10%;
  top: 18%;
  left: 44%;
  animation: cloud1 50s linear infinite;
  transform: var(--smooth);
}
@keyframes cloud1 {
  0%,
  100% {
    left: 50%;
    opacity: 0.3;
  }
  50% {
    left: 28%;
    top: 10%;
    opacity: 0.7;
  }
}
.cloud2 {
  position: absolute;
  width: 6%;
  top: 12%;
  left: 32%;
  animation: cloud2 40s linear infinite;
  transform: var(--smooth);
}
@keyframes cloud2 {
  0%,
  100% {
    left: 20%;
    opacity: 0.8;
  }
  50% {
    left: 46%;
    opacity: 0.3;
  }
}
.cloud3 {
  position: absolute;
  width: 4%;
  top: 16%;
  left: 28%;
  animation: cloud3 40s linear infinite;
}
@keyframes cloud3 {
  0%,
  100% {
    left: 32%;
    opacity: 0.3;
  }
  50% {
    left: 20%;
    opacity: 0.8;
  }
}
.balloon {
  position: absolute;
  width: 8%;
  bottom: 60%;
  left: 28%;
  z-index: 5;
  animation: balloon 70s linear infinite;
  transform: var(--smooth);
}
@keyframes balloon {
  0% {
    bottom: 60%;
    left: 28%;
  }
  14% {
    bottom: 70%;
    left: 12%;
    transform: scale(0.92);
  }
  35% {
    bottom: 80%;
    left: 40%;
    transform: scale(0.9);
  }
  60% {
    bottom: 50%;
    left: 80%;
  }
  100% {
    bottom: 60%;
    left: 28%;
  }
}
.platform {
  animation: platform 4s linear infinite;
}
@keyframes platform {
  0%,
  100% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-8px);
  }
}

.banner_text {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  width: 100%;
  text-align: left;
  margin-bottom: 3rem;
  z-index: 7;
}
.banner_text h1 {
  margin-bottom: 0.75rem;
  color: var(--onbg);
}
.banner_text p {
  margin-bottom: 1rem;
  color: var(--onbg);
}
.dec {
  position: absolute;
  width: 40rem;
  top: 0rem;
  right: 0rem;
  opacity: 0.6;
  pointer-events: none;
  -webkit-touch-callout: none;
  z-index: -2;
}
/* carrousel */
/* .block {
  position: relative;
  height: 60vh;
  max-width: 100%;
  align-items: center;
}
.block_slider {
  overflow: hidden;
}
.work_blocks {
  height: 40vh;
  justify-content: space-evenly;
  will-change: transform;
  --unit: max (24px, 24px);
  --gap: calc(var(--unit) * 1);
  --rows: 2;
  --columns: 36;
  display: grid;
  gap: var(--gap);
  grid-auto-flow: column dense;
  grid-template-columns: repeat(var(--columns), auto);
  grid-template-rows: repeat(var(--rows), auto);
}
.block_items {
  grid-area: span 2 / span 16;
  position: relative;
  background-color: var(--field);
  border-radius: 8px;
} */
/* footer */
footer {
  background-color: #25233a;
  height: fit-content;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1vw;
  align-content: flex-start;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1040px;
  height: 35vh;
}
.footer_logo {
  width: 4rem;
  margin: 2rem 0;
}
.footer_text {
  margin-bottom: 24px;
  color: #e0e0ef;
  text-align: left;
  margin: 3rem 0 2rem 0;
}
.footer_text h3 {
  margin-bottom: 0.25rem;
}
.footer_text p {
  font-size: 0.75rem;
}
.footer_social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  gap: 3rem;
  width: auto;
}
.footer_social a {
  color: #e0e0ef;
}
/* other pages */
.content {
  position: relative;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2.5rem;
  padding: 9rem 0 9rem 0;
}
.content h3 {
  color: var(--onbg);
}
.content h4 {
  color: var(--onbg);
}
.content p {
  color: var(--onbg);
}
.title_container {
  top: 9rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0rem;
  color: var(--onsurface);
}
.tittle {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0rem;
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  border-color: var(--primary);
  padding: 0rem 0rem 0rem 0.75rem;
}
.title_container i {
  font-size: 3rem;
  color: var(--primary);
  line-height: 3rem;
  padding: 0rem 1rem 0rem 0.5rem;
}
.title_container i:hover {
  color: var(--primary);
  transform: scale(0.9);
  transition: var(--smooth);
  filter: brightness(140%);
}
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.75rem;
}
.row h4 {
  color: var(--field);
}
/* About me */
.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.profilepic {
  position: relative;
  width: 12rem;
  height: 12rem;
  cursor: pointer;
  background: linear-gradient(
      0deg,
      rgba(61, 178, 15, 0.1),
      rgba(61, 178, 15, 0.1)
    ),
    url('Aboutme.png');
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
  border-radius: 8px;
  transition: var(--smooth);
}
.profilepic_dec {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-width: 0px 0px 3px 3px;
  border-style: solid;
  border-color: var(--primary);
  border-radius: 0px 0px 0px 10px;
  transition: var(--smooth);
  z-index: -1;
  opacity: 0;
}
.profilepic_dec:nth-child(1) {
  bottom: 0;
  left: 0;
}
.profilepic_dec:nth-child(2) {
  border-width: 3px 3px 0px 0px;
  border-radius: 0px 10px 0px 0px;
  top: 0;
  right: 0;
}
.profilepic:active {
  background: url('Aboutme.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 11rem;
  height: 11rem;
  margin: 1rem;
}
.profilepic:active .profilepic_dec {
  z-index: 0;
  opacity: 1;
}
.profilepic:active .profilepic_dec:nth-child(1) {
  bottom: -1rem;
  left: -1rem;
}
.profilepic:active .profilepic_dec:nth-child(2) {
  top: -1rem;
  right: -1rem;
}
.info p {
  color: var(--onbg);
  text-align: left;
}
.info a {
  text-decoration: none;
  color: var(--primary);
}
/* Works */
.work_categories {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
  align-items: start;
}
.category {
  border-radius: 8px;
  padding: 0 0 1.25rem 0;
  color: var(--onprimary);
  background-color: var(--field);
  overflow: hidden;
}
.category a {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}
.category_img {
  width: 100%;
  pointer-events: none;
  -webkit-touch-callout: none;
}
.category_text {
  display: block;
  margin: 0 1rem 0 1rem;
  width: 9.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  color: var(--onsurface);
}

/* Projects */
.work_cards {
  position: relative;
  max-width: 1040px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.card {
  border-radius: 8px;
  height: fit-content;
  width: 96%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-decoration: none;
  color: var(--onprimary);
  overflow: hidden;
}
.card_text {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  width: 100%;
  padding: 0rem 1rem 1.5rem 1rem;
}
.card_title {
  display: flex;
  flex-direction: row;
  max-height: 3rem;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.card_title img {
  width: 2.5rem;
}
.card_title h3 {
  color: var(--onprimary);
}
.card_text p {
  font-weight: 300;
  color: var(--onprimary);
}
.tag {
  display: inline-flex;
  align-items: center;
}
.tag p {
  font-size: 0.75rem;
  margin-right: 0.75rem;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--onprimary);
  text-transform: uppercase;
  width: fit-content;
}
.card_img {
  width: 100%;
  pointer-events: none;
  -webkit-touch-callout: none;
}
.card button {
  display: none;
  z-index: 3;
}

/* Branding */
.brand_list {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  padding: 0 1rem;
}
.brand {
  display: flex;
  border-radius: 12px;
  width: 100%;
  height: 11.25rem;
  align-items: center;
  justify-content: center;
  background-color: var(--field);
}
.brand svg {
  transform: scale(0.75);
  color: var(--onsurface);
  opacity: 0.8;
}
/* Skills */
.skill_set {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 0.5rem;
  justify-content: space-around;
  justify-items: center;
  align-items: start;
}
.skill {
  height: fit-content;
  border: 3px solid var(--field);
  border-radius: 12px;
  padding: 1.5rem 0.75rem 1.25rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}
.skill i {
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--primary);
}
.skill_text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 8rem;
  max-width: 20rem;
}
.skill_text h4 {
  font-size: 1rem;
}
.skill_text p {
  height: 3.75rem;
  font-size: 0.75rem;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.softwares {
  display: flex;
  flex-direction: row;
  gap: 0.55rem;
}
.softwares img {
  width: 2.5rem;
}
/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
label {
  color: var(--onbg);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.25rem;
}
.form_block {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}
.form_block form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form_block input {
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1rem;
  background-color: var(--field);
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1rem;
  color: var(--onsurface);
  cursor: text;
}
.form_block input::placeholder {
  color: var(--onsurface);
  opacity: 0.54;
  font-weight: 300;
}
textarea {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: none;
  background-color: var(--field);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1rem;
  color: var(--onsurface);
  cursor: text;
  resize: none;
}
textarea::placeholder {
  color: var(--onsurface);
  opacity: 0.54;
  font-weight: 300;
}
.form_block button {
  width: 100%;
  margin-top: 1.5rem;
}
.other_addresses {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.myemail {
  display: inherit;
  flex-direction: inherit;
  gap: 1rem;
}
.myemail p {
  color: var(--onbg);
}
.mysocials {
  display: inherit;
  flex-direction: inherit;
  gap: 1.5rem;
}
.mysocials a {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 0.25rem;
  text-decoration: none;
  justify-content: flex-start;
  color: var(--primary);
  align-items: center;
  cursor: pointer;
}
.mysocials p {
  color: var(--primary);
}
/* desktop */
@media (min-width: 62em) {
  h1 {
    font-size: 4.25rem;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.75rem;
    letter-spacing: -0.5px;
  }
  h3 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
  }
  h4 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  p {
    font-size: 1rem;
    font-weight: var(--body-weight);
    line-height: 1.25rem;
    letter-spacing: 0.25px;
  }
  .header_logo a {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
  }
  .header_logo a:hover {
    transform: scale(0.9);
    transition: var(--smooth);
    filter: brightness(130%);
  }
  .navbar_links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem;
  }
  .link a {
    color: var(--onbg);
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: inline-block;
    position: relative;
    margin: 0rem 1.125rem;
  }
  .language {
    transform: none;
    line-height: 24px;
  }
  .navbar_icon1 {
    display: none;
  }
  .banner {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 3rem;
  }
  .illustration {
    width: 50%;
    height: auto;
    margin-top: 0rem;
  }
  .banner_text {
    max-width: 27rem;
    margin: 0;
    text-align: initial;
  }
  .banner_text h1 {
    margin-bottom: 24px;
  }
  .banner_text p {
    margin-bottom: 40px;
    line-height: 1.5rem;
  }

  .dec {
    position: absolute;
    width: 55rem;
    top: 0rem;
    right: 0rem;
    z-index: -2;
  }
  footer {
    height: 50vh;
  }
  .footer {
    flex-wrap: nowrap;
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  .footer_logo {
    width: 6.25rem;
    margin: 1.25rem 0 1.25rem 0;
  }
  .footer_text {
    margin: 0 10rem 0 0;
  }
  .footer_text p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .footer_social {
    font-size: 1.75rem;
    width: 20rem;
  }
  .footer_social a:hover {
    transform: scale(0.9);
    transition: var(--smooth);
    color: #ffffff;
  }
  /* other pages */
  .content {
    gap: 3rem;
  }
  .link_selected {
    list-style: none;
    margin: 24px 0px;
  }
  .link_selected a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: inline-block;
    position: relative;
    margin: 0rem 1.125rem;
  }
  .link_selected a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
  }
  .tittle {
    padding: 0rem 0rem 0rem 1rem;
  }
  .title_container i {
    font-size: 5rem;
    line-height: 3.75rem;
    padding: 0rem 1rem 0rem 0.5rem;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .row h3 {
    width: fit-content;
  }
  .row p {
    width: 55%;
  }
  /* About me */
  .info {
    flex-direction: row;
    gap: 2.5rem;
  }
  .profilepic {
    width: 16rem;
    height: 16rem;
  }
  .profilepic:hover {
    background: url('Aboutme.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
  }
  .profilepic:hover .profilepic_dec {
    z-index: 0;
    opacity: 1;
  }
  .profilepic:hover .profilepic_dec:nth-child(1) {
    bottom: -1rem;
    left: -1rem;
  }
  .profilepic:hover .profilepic_dec:nth-child(2) {
    top: -1rem;
    right: -1rem;
  }
  .info p {
    width: calc(100% - 18.5rem);
  }
  /* Works */
  .work_categories {
    grid-template-columns: auto auto auto;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }
  .category {
    padding: 0 0 2rem 0;
  }
  .category:hover {
    transform: scale(0.96);
    transition: var(--smooth);
    filter: brightness(120%);
  }
  .category:hover .category_img {
    transform: scale(1.05);
    transition: var(--smooth);
  }
  .category a {
    gap: 1rem;
  }
  .category_text {
    margin: 0 2rem 0 2rem;
    width: 15.75rem;
    height: 4.5rem;
  }
  /* Projects*/
  .work_cards {
    gap: 2rem;
  }
  .card {
    position: relative;
    flex-direction: row;
    transition: var(--smooth);
  }
  .card:nth-child(even) {
    flex-direction: row-reverse;
  }
  .card_text {
    width: auto;
    gap: 2rem;
  }
  .card_title {
    max-height: 3.75rem;
    gap: 1rem;
  }
  .card_title img {
    width: 3.5rem;
  }
  .card_text {
    padding: 3rem 2.5rem 3rem 2.5rem;
  }
  .card_text p {
    max-width: 26rem;
  }
  .card_img {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    transition: var(--smooth);
  }
  .tag p {
    font-size: 1rem;
    transition: 0.2s ease-in;
  }
  .card button {
    position: absolute;
    opacity: 100;
    display: inline-block;
    bottom: 3rem;
    opacity: 0;
    transition: 0.2s ease-in;
  }
  .card button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: var(--smooth);
  }
  .card:hover {
    transform: scale(0.98);
    transition: var(--smooth);
  }
  .card:hover button {
    display: inline-block;
    opacity: 100;
    transition: 0.3s ease-out;
    transform: translateY(-1.25rem);
  }
  .card:hover .tag p {
    opacity: 0;
    transition: 0.15s ease-out;
    transform: translateX(8rem);
  }

  /* Branding */
  .brand_list {
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    transition: var(--smooth);
  }
  .brand {
    width: 96%;
    height: 14.75rem;
  }
  .brand svg {
    transform: scale(0.88);
    mix-blend-mode: hard-light;
    opacity: 0.6;
  }
  .brand:hover {
    transform: scale(0.96);
    transition: var(--smooth);
    filter: brightness(110%);
  }
  .brand:hover svg {
    opacity: 1;
  }
  /* Skills */
  .skill_set {
    grid-template-columns: auto auto auto auto;
    column-gap: 1rem;
  }
  .skill {
    padding: 1.5rem 1.25rem 1.5rem 1.25rem;
    align-items: flex-start;
  }
  .skill:hover {
    transform: scale(0.96);
    transition: var(--smooth);
  }
  .skill i {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
  .skill_text {
    width: 12rem;
    max-width: 12rem;
  }
  .skill_text h4 {
    font-size: 1.25rem;
  }
  .softwares {
    gap: 2rem;
  }
  .softwares img {
    width: 5rem;
  }
  .softwares img:hover {
    transform: scale(0.9);
    transition: var(--smooth);
    filter: brightness(200%);
  }
  /* Contact */
  .contact {
    display: flex;
    flex-direction: row;
    gap: 7rem;
  }
  .form_block {
    width: 28.75rem;
  }
  .form_block form {
    gap: 1.25rem;
  }
  .other_addresses {
    gap: 2.5rem;
  }
  .form_block button {
    width: fit-content;
    margin-top: 1.5rem;
  }
}
